<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Créer une nouvelle tâche
    </h1>

    <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Nom de la nouvelle tâche">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Annuler</button>
      <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">Créer</button>
    </div>
  </div>
</div>